footer {
  background: #161616 0% 0% no-repeat padding-box;
  
  padding: 5% 5%;
  .foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .section2 {
    display: flex;
    flex-direction: column;
    
      .title {
        font: normal normal medium 21px/25px SF Display !important;
        letter-spacing: 0px;
        color: #696969 !important;
        opacity: 1;
        position: relative;
      }
      ol{
        margin: 0;
    padding: 0;
    align-items: center;
      }
      ul {
        text-align: left;
        font: normal normal normal 19px/25px SF Display;
        letter-spacing: -0.28px;
        color: #c8c8bd;
        padding: 5px 0px;
      }
    }
    .section1{
      @extend .section2;
      align-items: left;
      padding-top: 4%;
      .copy{
        text-align: left;
font: normal normal normal 13px/17px SF Display;
letter-spacing: -0.2px;
color: #C8C8C8;
      }
    }
  }
}
